
<!DOCTYPE html>
<html lang="en" class="sky-bet">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Sky Bet: Latest Cricket Odds | New Customer Free Bet | Online Betting" />
    <meta name="keywords" content="Barclays Premier League, in-play, live betting, live football, world football, horse racing, sports betting, live sport, live commentary, online, live, sport, football, sports, sky, horse, racing, race, bet, stats, gambling, betting, live sport on tv, sport on tv">
    <meta name="description" content="Cricket betting and all the latest Cricket odds from Sky Bet. Bet on the IPL and England Cricket, live betting available. Get the best cricket tips from our betting experts.">
    <meta name="robots" content="noodp, noydir, index, follow">
    <meta name="verify-v1" content="XsaYdOTPZzVxufA6J+Q5qZvz4dbLK/2GMwWeG7xO2XY=">
    <meta name="google-site-verification" content="JNw4y3nRzZYjWeJaAiJpsq-tYv5jDmqKjPYn5kQiANI">
    
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.skybet.com/cricket" >
    <link rel="canonical" href="http://www.skybet.com/cricket" />
    <link rel="meta" href="/labels.rdf" type="application/rdf+xml" title="ICRA labels">
    <link rel="shortcut icon" href="http://st1.skybet.com/static/sportsbook/img/favicon.ico">
    <link rel="alternate" href="http://www.skysports.com/rss/0,20514,12101,00.xml" type="application/rss+xml" title="Sky Bet Betting Blog">
    <link rel="apple-touch-icon" href="http://st1.skybet.com/static/sportsbook/img/appletouch.png">

    <!--[if IE 8]>
    <script type="text/javascript">
        document.getElementsByTagName('html')[0].className += " ie8";
    </script>
    <![endif]-->

    
    <link rel="stylesheet" href="http://st1.skybet.com/assets/bet-1011b60e2bcfe7b62175368a1a5860f9.css">
 	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style-home.css' />

<style>
#page{
background-image: -webkit-linear-gradient(left,#fcfdfd 0,rgba(249, 249, 249, 0) 19.23848%,#fff 19.23848%,#fff 100%);
min-height: 500px;
}

.account-bar{
background-image: linear-gradient(to bottom,#25757F 0,#0E7B9B 50%,#426C96 50%,#01DFF1 100%);
font-size: 1.0em;
}

#live-bet-bar .live-rowgroup td{
background: #009bdf !important;
}
</style>    
</head>
    <body class="fixed-width">
      <div class="new-account-bar">

    <script type="text/javascript">
        document.body.className += ' js';
    </script>

    <ul class="accessibility">
        <li><a href="#nav">Skip to navigation</a></li>
        <li><a href="#content">Skip to content</a></li>
        <li><a href="#page-footer">Skip to help &amp; support</a></li>
    </ul>

<div class="account-bar  account-bar--bet js-myaccount">

  <div class="account-bar--wrap  fixed-width-limit cf">

    <!--
    ###############################################################################################
    NAV
    ###############################################################################################
    -->
    <!-- <nav class="primary-nav">
        <ul>
        </ul>
    </nav> -->
    <!--
    ###############################################################################################
    NAV END
    ###############################################################################################
    -->

    <!--
    ###############################################################################################
    ACCOUNT BAR
    ###############################################################################################
    -->




        <div class="account-bar__left">
            <div class="account-bar__inner  account-bar__left-inner">
                <div class="account-bar__links-wrap">
                    <ul class="nav  account-links">
                          <li>
                              <a href="http://support.skybet.com/app/home"
                                  class="account-bar__link"
                              >Rules</a>
                          </li>
                        <li>
                            <a href="/mybetting"
                                class="account-bar__link js-feedback__btn"
                                data-omni="Feedback"
                            >My Bettings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="account-bar__right">
            <!-- Links on the right hand side -->
            <div class="account-bar__inner  account-bar__right-inner">
                <div class="account-bar__links-wrap">
                    <ul class="nav  account-links">
                            <li>
                                <a href="/logout"
                                    class="account-bar__link js-myaccount-register"
                                >Logout</a>
                            </li>
                            <li>
                                <a href="/homepage"
                                    class="js-account-bar__login account-bar__link"
                                ><i class="icon icon--natural" data-icon="&#xF006;"></i>&nbsp;<%=userFullName%></a>
                            </li>
					  		<% if (isAdmin === 'Y') { %>
                            <li>
                                <a href="?open=register"
                                    class="account-bar__link js-myaccount-register"
                                    data-omni="Register"
                                ><i class="icon icon--natural" data-icon="&#xF305;"></i>Register Now</a>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    <!--
    ###############################################################################################
    ACCOUNT BAR END
    ###############################################################################################
    -->
    </div>
    <!-- fixed-width-limit -->

        
</div>

    <div class="wrapper">
        <div id="page">
            <div >
                <div class="content-head">
                <h1 >Current Standings</h1>
                </div> <!-- /content-head -->
		    <div>
                        <ul class=" promos" data-cols="1">


                        
            
            
            
                    </ul>
    </div>           
<div id="live-bet-bar" data-starting-events="[17462302,17462230,17462231,17440186,17462499,17464648,17464649,17464647,17461683,17465833,17465826,17465828,17465827,17462484,17313018,17425317,17425319]"
     class="live-bet-bar live-betting-panel tab-container">

    <div
     class="mkt mkt-live island live-content no-redraw mkt-WDW" 
     data-tab="true"
     data-class-id="5"
     data-class-name="Football"
     data-class-display-order="-5"
     style="display: block;">
     
        <table class="live-table">
            <thead>
            <tr>
                <th scope="rowgroup" colspan="2" class="event-class-name">Player Name</th>
                <th colspan="2"><span>Total Points</span></th>
                <th scope="col" colspan="2">Points Won on Match Bettings</th>
                <th scope="col" colspan="2">Points Won on Toss Bettings</th>
               	<th scope="col" colspan="2">Points Won on MoM Bettings</th>
                <th scope="col" colspan="2">Points Won on Batting Order Bettings</th>
                <th scope="col" colspan="2">Points Won on Victory Margin Bettings</th>
            </tr>
            </thead>
            <% standingDetails.forEach(function(standings){ %>
            <tbody class="live-rowgroup">
				<tr style="height:40px; font-size: smaller;">
					<td colspan="2">
						<div class="live-event-name" style="width:250px; max-width:250px; overflow: hidden; text-overflow: ellipsis !important; white-space: nowrap;">
							<span class="event-name">
								<a href="/displaybets/<%= standings.user_id %>">
									<span><%= standings.username %> (<%= standings.firstname %> <%= standings.lastname %>)</span>
								</a>
							</span>
						</div>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3" scope="col">
						<span class="odds-container"><%= standings.sum_total_points_in_match %></span>
					</td>
					<td colspan="2" class="noodds-cell t14-2 sels3">
						<span class="odds-container"><%= standings.sum_result_points %></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container"><%= standings.sum_toss_points %></span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<%= standings.sum_mom_points %>
						</span>
					</td>
					<td colspan="2" class="odds-cell t14-2 sels3">
						<span class="odds-container">
							<%= standings.sum_result_basedon_order_points %>
						</span>
					</td>
					<td class="odds-cell t14-2 sels3" colspan="2">
						<span class="odds-container"><%= standings.sum_victory_margin_points %></span>
					</td>
				</tr>
        	</tbody>
  			<%});%>

         </table>
             <br>
         
</div>

    </div>
</div>
    <div>
    </div>


            </div> <!-- /content -->

        </div> <!-- /page -->
		<br>
        <div id="page-footer">

            <div class="fl">
                <h3 class="hecto">
                    <a href="http://support.skybet.com/app/home" rel="external"></a>
                </h3>
                <ul class="inline-list" id="mbet_switch">
                    <li>
                        <a class="js-site-switch" href="/go/switch?site=mobile" data-omni="Footer Classic to Lite"></a>
                    </li>
                </ul>
            </div>

            <div class="gw fl">
                <div class="g g18">
                    <div id="page-footer-main">



                        <ul class="inline-list" id="faq-links">
                            <li>
                                <b></b>
                            </li>
                                                            <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/27"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/26/"
                                        rel="external nofollow"
                                        target="_blank"
                                        ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/answers/detail/a_id/162"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="https://support.skybet.com/app/rules/c/39/"
                                        rel="external nofollow"
                                        target="_blank"
                                    ></a>
                                </li>
                                <li>
                                    <a href="?open=recover" class="js-myaccount-recover"></a>
                                </li>
                                                    </ul>

                    </div>
                </div>
                <div class="g g6">
                    <form id="footer-search" class="cf">
                        <fieldset>
                            <legend class="accessibility">Search Sky Bet&rsquo;s frequently asked questions</legend>
                            <label for="faq-search" class="accessibility"></label>
                            <input type="text" name="searchstring" id="faq-search" placeholder="Search FAQs" />
                            <input type="image" src="http://st1.skybet.com/static/common/img/forms/footer-search.gif" id="faq-submit" alt="Search" />
                        </fieldset>
                    </form>
                    <p>
                        <a href="https://support.skybet.com/app/contact" target="_blank" rel="external"></a>
                    </p>
                </div>
            </div>

        </div><!-- /page-footer -->

    </div> <!-- /wrapper -->

    


            <!-- SiteCatalyst code version: H.24.1.
        Copyright 1996-2011 Adobe, Inc. All Rights Reserved
        More info available at http://www.omniture.com -->
        <script type="text/javascript" src="//st2.skybet.com/static/lib/omniture/s_code_v5.js"></script>
        <!-- End SiteCatalyst code version: H.24.1. -->
    
    <script type="text/javascript" src="//st2.skybet.com/static/lib/jquery/jquery-1.7.1.min.js"></script>

    </div>

    
    </body>
</html>
